@import "../../styles/colors";

// Set Animation Button Speed
$animStartSpeed: 0.5s;
$animEndSpeed: 0.5s;

.button {
  width: 100%;
  text-align: center;
  p {
    padding: 0;
    margin: 12px;
  }
  .top {
    visibility: visible;
    height: 5px;
    background-color: $primary;
    transform-origin: 100% 15%;
  }
  .right {
    background-color: $primary;
    visibility: hidden;
    width: 6px;
    height: 5px;
    transform-origin: 100% 100%;
    float: right;
  }
  .left {
    background-color: $primary;
    visibility: hidden;
    width: 6px;
    height: 5px;
    transform-origin: 100% 7%;
  }
  .bottom {
    background-color: $primary;
    visibility: hidden;
    height: 5px;
    transform-origin: 100% 15%;
  }
}

.startAnimLeft {
  animation: leftButtonStart $animStartSpeed linear;
  animation-fill-mode: forwards;
}

.startAnimBottom {
  animation: bottomButtonStart $animStartSpeed * 2 linear;
  animation-delay: $animStartSpeed;
  animation-fill-mode: forwards;
}

.startAnimRight {
  animation: rightButtonStart $animStartSpeed * 2 linear;
  animation-delay: $animStartSpeed * 3;
  animation-fill-mode: forwards;
}

.startAnimText {
  animation: textButtonStart $animStartSpeed * 2 linear;
  animation-delay: $animStartSpeed * 4;
  animation-fill-mode: forwards;
}

@keyframes bottomButtonStart {
  0% {
    visibility: visible;
    transform: scaleX(0);
    transform-origin: left;
  }
  40% {
    visibility: visible;
    transform: scaleX(0.4);
    transform-origin: left;
  }
  80% {
    visibility: visible;
    transform: scaleX(0.8);
    transform-origin: left;
  }
  100% {
    visibility: visible;
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes leftButtonStart {
  0% {
    visibility: visible;
    transform: scaleY(0);
  }
  40% {
    visibility: visible;
    transform: scaleY(4);
  }
  80% {
    visibility: visible;
    transform: scaleY(8);
  }
  100% {
    visibility: visible;
    transform: scaleY(12);
  }
}

@keyframes rightButtonStart {
  0% {
    visibility: visible;
    transform: scaleY(0);
  }
  40% {
    visibility: visible;
    transform: scaleY(4);
  }
  80% {
    visibility: visible;
    transform: scaleY(12);
  }
  100% {
    visibility: visible;
    transform: scaleY(9);
  }
}

@keyframes textButtonStart {
  0% {
    color: black;
    font-weight: normal;
  }
  40% {
    color: black;
    font-weight: bold;
  }
  80% {
    color: $primary;
    font-weight: bold;
  }
  100% {
    color: $primary;
    font-weight: bolder;
  }
}
