// Custom Variables
$primary: tomato;
$info: white;
$primary_600: rgba(255, 99, 71, 0.6);
$danger: rgb(201, 37, 25);
$background: rgb(253, 246, 255);

// Bootstrap Variables

$navbar-light-color: rgba($primary, 0.5);
$navbar-light-hover-color: rgba($primary, 0.7);

$breadcrumb-bg: $info;
$navbar-dark-color: $info;
