.imageBadge {
  position: relative;
  img {
    min-width: 250px;
  }
  .customBadge {
    left: 0;
    font-size: 1.3rem;
  }
  svg {
    width: 100%;
  }
}

.placeholderText {
  background-color: #ddd;
  height: 15px;
  border-radius: 10px;
}
